# Node modules
node_modules/
npm-debug.log
yarn-error.log

# Environment variables
.env
.env.local
.env.development
.env.test
.env.production

# Build logs
logs/
*.log

# Build files
dist/
build/
coverage/

# OS/Editor specific
.DS_Store
.idea/
.vscode/
Thumbs.db
